<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SkillTrackerApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SkillTrackerApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SkillTrackerApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!-- Home -->
                        <li class="nav-item">
                            <a class="nav-link text-success" href="/Index"><span class="item-Style"><i class="bi bi-house-fill"></i> Home</span></a>
                        </li>

                        <!-- About Us -->
                        <li class="nav-item">
                            <a class="nav-link text-success" href="/Data/AboutUs"><span class="item-Style"><i class="bi bi-info-circle-fill"></i> About Us</span></a>
                        </li>

                        @if (User.Identity is { IsAuthenticated: true })
                        {
                            <!-- Profile Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link text-success dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="item-Style"><i class="bi bi-person-fill"></i> Profile</span></a>
                                <ul class="dropdown-menu dropdown-menu-end shadow mb-5 bg-body-tertiary">
                                    <li class="nav-item p-0">
                                        <a class="nav-link" href="/Profile/UserProfile">
                                            <i class="bi bi-person-circle"></i> <span class="ms-1">Profile</span>
                                        </a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li class="nav-item">
                                        <a class="btn btn-danger px-4" id="logout-btn" href="/Identity/Account/Logout"><i class="bi bi-power"></i> Logout</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <!-- Login -->
                            <li class="nav-item">
                                <a class="btn btn-success px-4" id="login-btn" href="/Identity/Account/Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - SkillTrackerApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
