@page
@model SkillTrackerApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">

    <!--Introduction Section-->
    <section class="container pt-5 pb-5 intro-section row">
        <div class="col-sm">
            <div class="p-3 text-center wl-text">
                <h1>Welcome to Our</h1>
                <h1>Application</h1>
                <h1>Skiil Tracker App</h1>
            </div>
            <div class="p-3 text-center wl-text">
                <p>
                    SkillTrackerApp is a personal skill and learning goal tracking system built using ASP.NET Core MVC.
                    It helps users log skills they’re learning, set goals, and monitor progress — perfect for showcasing
                    your development journey as a junior software developer.
                </p>
            </div>
        </div>
    </section>

</div>

<link rel="stylesheet" href="~/css/Index.css" />
