@page
@model SkillTrackerApp.Pages.Profile.UserProfileModel
@{
}
<main>

    <div class="page-content">

        <!-- Page main content START -->
        <div class="page-content-wrapper border">

            <!-- Title -->
            <section class="py-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="p-4 text-center rounded-3" style="background-color: #4CAF50;">
                                <h1 class="m-0">Profile</h1>
                                <!-- Breadcrumb -->
                                <div class="d-flex justify-content-center">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb breadcrumb-dots mb-0">
                                            <li class="breadcrumb-item"><a href="/Index">Home</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">User Profile Details</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="pt-4">
                <div class="container">
                    <div class="card bg-transparent border rounded-3">
                        <div class="card-header bg-transparent border-bottom">
                            <h3 class="card-header-title d-flex justify-content-center mb-0">User Profile</h3>
                        </div>
                        <!-- Card body START -->
                        <div class="card-body">
                            @if (Model.view.Email == string.Empty)
                            {
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="bg-danger text-white p-4 text-center rounded-3">
                                                <h1 class="m-0">Account Not Found</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="d-sm-flex justify-content-center">
                                    <a href="/Profile/CreateAccount" class="btn btn-success mb-2 mb-sm-0">Create Account</a><br />
                                </div>


                            }
                            else
                            {
                                <div class="row">
                                    <!-- User Profile Details START -->
                                    <div class="col-12 mb-4">
                                        <ul class="list-group list-group-borderless">

                                            <li class="list-group-item">
                                                <div class="row mb-2">
                                                    <div class="col-md-4 font-weight-bold"><strong>First Name</strong></div>
                                                    <div class="col-md-4"><strong class="font-weight-bold">:</strong>@Model.view.FirstName</div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row mb-2">
                                                    <div class="col-md-4 font-weight-bold"><strong>Last Name</strong></div>
                                                    <div class="col-md-4"><strong class="font-weight-bold">:</strong>@Model.view.LastName</div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row mb-2">
                                                    <div class="col-md-4 font-weight-bold"><strong>Email Address</strong></div>
                                                    <div class="col-md-4"><strong class="font-weight-bold">:</strong>@Model.view.Email</div>
                                                </div>
                                            </li>
                                        </ul>
                                        <br />
                                        @* <div class="d-sm-flex justify-content-center">
                                            <a href="/Profile/EditProfile" class="btn btn-success mb-2 mb-sm-0">Update Personal Details</a>
                                        </div> *@
                                    </div>
                                    <!-- User Profile Details END -->

                                </div> <!-- End row -->
                            }
                        </div>
                        <!-- Card body END -->
                    </div>
                    <!-- Edit profile END -->
                </div>
            </section><br />
        </div>
    </div><br />
</main>
<script src="https://unpkg.com/axios@0.19.2/dist/axios.min.js"></script>
