@page
@model SkillTrackerApp.Pages.Error404Model
@{
    ViewData["Title"] = "Page Not Found";
}

<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <h1 class="display-4 error-text">404</h1>
            <h2 class="font-weight-bold">Page Not Found</h2>
            <p class="lead">Sorry, the page you are looking for does not exist.</p>
            <a href="/" class="btn btn-primary">Go Back to Home Page</a>
        </div>
    </div>
</div>