@page
@model SkillTrackerApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">

    <!--Introduction Section-->
    <section class="container pt-5 pb-5 intro-section row">
        <div class="col-sm">
            <div class="p-3 text-center wl-text">
                <h1>Welcome to Our</h1>
                <h1>Application</h1>
                <h1>Skiil Tracker App</h1>
            </div>
            <div class="p-3 text-center wl-text">
                <p>This app is a simple tool to report environmental health issues</p>
                <p>experienced by yourself or someone you know. Some of these</p>
                <p>issues can be caused or worsened by climate change. You can</p>
                <p>report issues on water, crops, waste, health, pests or insects, </p>
                <p>disasters or livestock. Your reports will help local government</p>
                <p>understand how climate change is affecting communities.</p>
            </div>
        </div>
    </section>

</div>
@section Scripts {
    <link rel="stylesheet" href="~/css/Index.css" />
}
