@page
@model SkillTrackerApp.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<main>

    <div class="page-content">

        <!-- Page main content START -->
        <div class="page-content-wrapper border">

            <p>Use this page to detail your site's privacy policy.</p>

        </div>
    </div>
</main>