@page
@model SkillTrackerApp.Pages.Data.AboutUsModel
@{
    ViewData["Title"] = "Help & Support";
}

<div class="page-content">
    <!-- Page main content START -->
    <div class="page-content-wrapper">
        <section class="py-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="p-4 text-center" style="background-color: #4CAF50;">
                            <h1 class="m-0">About Us</h1>
                            <!-- Breadcrumb -->
                            <div class="d-flex justify-content-center">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb breadcrumb-dots mb-0">
                                        <li class="breadcrumb-item"><a href="/Index">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pt-4">
            <div class="container">
                <div class="  abt-pg">
                    <div class=" bg-transparent">
                        <h3 class="card-header-title d-flex justify-content-center mb-0">Who We Are</h3>
                    </div>

                    <!--Our Mision-->
                    <div class="container mt-5 cl-mission-sec">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="p-2">
                                    <h4>Our Mission</h4>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div>
                                    <p>
                                        Our mission is to provide a platform where individuals and communities can report and receive support on climate change related Environmental Health issues. We aim to inspire, educate and empower individuals and communities in the area of climate change and environmental health.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="sv-th-plt">
                                    <img src="/img/Environment.PNG" alt="Save-the-planet" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Our vision-->
                    <div class="container-fluid mt-5 cl-vision-sec">
                        <div class="row d-flex  justify-content-center">
                            <div class="col-sm-4">
                                <h4 style="padding-top:1.8rem;">Our Vision</h4>
                            </div>
                            <div class="col">
                                <p>
                                    Our vision is to be the leading reporting platform for environmental and health issues related to climate change, fostering a community of informed and proactive citizens who contribute to a sustainable and healthy future.
                                </p>
                            </div>
                        </div>
                    </div>



                    <!--Our vision-->
                    <div class="container-fluid mt-5 cl-values-sec">
                        <div class="row">
                            <div class="col-sm-4">
                                <div>
                                    <h4>Our Values</h4>
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <ul>
                                        <li>Integrity: We uphold the highest standards of integrity in all our actions.</li>
                                        <li>Transparency: We believe in open communication and transparent operations.</li>
                                        <li>Community: We are committed to building and supporting communities.</li>
                                        <li>Responsibility: We take responsibility for our actions and their impact on the environment.</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!--Our Contact information-->

                <div class="container-fluid mt-5 ">
                    <div class="row">

                        <div class="col-lg-8 mb-4">
                            <div class="lc-map">
                                <!-- Responsive wrapper -->
                                <iframe width="100%"
                                        height="400px"
                                        style="border:0;"
                                        loading="lazy"
                                        allowfullscreen
                                        referrerpolicy="no-referrer-when-downgrade"
                                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAyJrqke4MoN0euOISJ8gHyD5fJLvHJ9xE&q=DUT+Ritson's+Rd">
                                </iframe>
                            </div>

                        </div>

                        <div class="col-lg-4 mb-4 " id="con-sec">
                            <div class="con-get-us">
                                <p class="list-loc">
                                    <strong>Address:</strong> <i class="bi bi-geo-fill icon"></i><a href="https://www.google.com/maps?q=DUT+Ritson's+Rd" target="_blank">
                                        Durban University Of Technology Ritson Road
                                    </a>
                                </p>
                                <p class="list-loc">
                                    <strong>Email:</strong> <i class="bi bi-envelope-fill icon"></i><a href="mailto:ehclimatechangeapp@gmail.com">ehclimatechangeapp@gmail.com</a>
                                </p>
                                <p class="list-loc">
                                    <strong>Phone:</strong><i class="bi bi-telephone-fill icon"></i><a href="tel:0766169810">(+27) 76 616 9810</a>
                                </p>
                                <div class="fl-chanel">
                                    <strong>Follow Us:</strong>
                                    <p class="fl-comp">
                                        <a href="https://www.facebook.com/ourplatform" target="_blank">
                                            <i class="bi bi-facebook icon"></i>
                                            Facebook
                                        </a>
                                    </p>
                                    <p class="fl-comp">
                                        <a href="https://www.twitter.com/ourplatform" target="_blank">
                                            <i class="bi bi-twitter-x icon"></i>
                                            Twitter
                                        </a>
                                    </p>
                                    <p class="fl-comp">
                                        <a href="https://www.instagram.com/ourplatform" target="_blank">
                                            <i class="bi bi-instagram icon"></i>
                                            Instagram
                                        </a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </section><br />
    </div>
</div>
<br />
@section Scripts {
    <link rel="stylesheet" href="~/css/AboutUs.css" />
    <link rel="stylesheet" href="https://unpkg.com/vue-select@3.0.0/dist/vue-select.css">
    <script src="https://unpkg.com/axios@0.19.2/dist/axios.min.js"></script>
}

