@page
@model SkillTrackerApp.Pages.NotFound.NotFoundModel
@{
    ViewData["Title"] = "Data Not Found";
}
<div class="alert alert-danger" style="text-align: center;">
    <h1>Data Not Found</h1>
    <div style="color: black;">
        <p>Oops, we are unable to find the data.</p>
        <a href="javascript:history.back()" class="btn btn-primary">Back</a>
    </div>
</div>
