@page
@model SkillTrackerApp.Pages.Data.AboutUsModel
@{
    ViewData["Title"] = "Help & Support";
}

<div class="page-content">
    <!-- Page main content START -->
    <div class="page-content-wrapper">
        <section class="py-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="p-4 text-center" style="background-color: #4CAF50;">
                            <h1 class="m-0">About Us</h1>
                            <!-- Breadcrumb -->
                            <div class="d-flex justify-content-center">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb breadcrumb-dots mb-0">
                                        <li class="breadcrumb-item"><a href="/Index">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="p-4 text-center">
                            <h1 class="m-0">🚀 Project Purposes</h1>
                            <h3 class="m-0">This project is created to:</h3>
                            <p>
                                Practice real-world ASP.NET Core MVC development
                                Implement user authentication and CRUD operations
                                Track personal and professional growth
                                Showcase clean code and project management skills on GitHub
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<br />
@section Scripts {
    <link rel="stylesheet" href="~/css/AboutUs.css" />
    <link rel="stylesheet" href="https://unpkg.com/vue-select@3.0.0/dist/vue-select.css">
    <script src="https://unpkg.com/axios@0.19.2/dist/axios.min.js"></script>
}

